<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>main.py</string>
			<key>preferredName</key>
			<string>MRL String Library</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Kevin Kuhn</string>
	<key>developerURL</key>
	<string>https://miningrawletters.com</string>
	<key>name</key>
	<string>MRL String Library</string>
	<key>version</key>
	<string>1.0</string>
	<key>timeStamp</key>
	<real>1735427200.0</real>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
</dict>
</plist> 